body
  color:        $bodyColor
  font-family:  $bodyFont
  font-size:    ms(1)
  line-height:  1.25em

h1
  font-weight:  bold
  text-align:   center
  font-size:    ms(6)
  line-height:  1.25em

h2
  font-weight: normal
  font-size: ms(5)
  line-height: 1.25em

h3
  font-weight: normal
  font-size: ms(4)
  line-height: 1.25em

h4
  font-weight: normal
  font-size: ms(3)
  line-height: 1.25em

h5
  font-weight: bold
  font-size: ms(2)
  line-height: 1.25em

h6
  font-weight: bold
  font-size: ms(1)
  line-height: 1.25em


@-moz-keyframes pulse
  0%
    color: lighten($bodyColor, 60)
  50%
    color: $bodyColor
  100%
    color: lighten($bodyColor, 60)

@-webkit-keyframes pulse
  0%
    color: lighten($bodyColor, 60)
  50%
    color: $bodyColor
  100%
    color: lighten($bodyColor, 60)

@-o-keyframes pulse
  0%
    color: lighten($bodyColor, 60)
  50%
    color: $bodyColor
  100%
    color: lighten($bodyColor, 60)

@-ms-keyframes pulse
  0%
    color: lighten($bodyColor, 60)
  50%
    color: $bodyColor
  100%
    color: lighten($bodyColor, 60)

@keyframes pulse
  0%
    color: lighten($bodyColor, 60)
  50%
    color: $bodyColor
  100%
    color: lighten($bodyColor, 60)


progress-bar, .progress-bar
  display:     block
  position:    relative
  height:      2em
  background:  lighten($bodyColor, 90)
  .progress
    background:  lighten($bodyColor, 70)
    position:  absolute
    top:       0
    bottom:    0
    left:      0
    z-index:   20
    width:     10px
  .overlay
    position:  absolute
    top:       0
    bottom:    0
    left:      0
    right:     0
    z-index:   80

