body, html
  height:      100%
  position:    relative
  overflow-y:  hidden
header
  height:         2.5em
  border-bottom:  1px solid hsl(0,0,50)
  z-index:        100
section.ng-view
  position:    absolute
  top:         2.5em
  bottom:      0
  left:        0
  right:       0
  div.appView
    overflow:    auto
    position:    absolute
    width:       100%
    height:      100%
    background:  hsl(0,0,80)

header
  position: relative
  h1
    +inline-block
    float:        left
    text-align:   left
    width:        6em
    font-size:    ms(2)
    line-height:  1.75em
    margin-left:  0.5em
  nav.location
    float:         left
    font-size:     ms(2)
    line-height:   1.75em
    margin-right:  0.25em
    span.home
      text-transform:  lowercase
      color:           lighten($bodyColor, 50)
    span.read
      div
        +inline-block
        position:  relative
        top:       -0.125em
        ul.dropdown
          display:      none
          position:     absolute
          top:          100%
          left:         -1em
          z-index:      100
          background:   white
          font-size:    ms(1)
          padding:      0.25em 1em
          margin:       0
          line-height:  1.25em
          +box-shadow(-1px 1px 2px 1px black)
          li
            display: block
        ul.langDropdown
          li
            position:     relative
            &:hover
              font-weight:  bold
              ul
                display: block
                font-weight:  normal
            ul
              +box-shadow(-1px 1px 2px 1px black)
              background:   white
              padding:      0.25em 1em
              margin:       0
              display:   none
              position:  absolute
              top:       0
              left:      100%
              width:       20em
        ul.libDropdown
          width:       20em
          li:hover
            font-weight:  bold
        ul.versionDropdown
          width:       auto
          font-size:  ms(2)
          li:hover
            font-weight:  bold
        &:hover
          ul.dropdown
            display: block
  nav.app
    float:         right
    font-size:     ms(2)
    line-height:   1.75em
    margin-right:  0.25em
    a
      color:            lighten($bodyColor, 30)
      text-decoration:  none
      padding:          0 0.25em
      +inline-block
      &:hover, &:focus
        color:  $bodyColor
      &.active
        background:  lighten($bodyColor, 30)
        color:       white
    a.addDoc
      .icon-refresh
        -moz-animation: pulse 3s infinite linear
        -o-animation: pulse 3s infinite linear
        -webkit-animation: pulse 3s infinite linear
        animation: pulse 3s infinite linear
      &.active
        .icon-refresh
          -moz-animation: none
          -o-animation: none
          -webkit-animation: none
          animation: none


header form.addNewDoc
  position:    absolute
  right:       0.5em
  top:         100%
  width:       20em
  background:  white
  +box-shadow(-1px 1px 2px 1px black)
  z-index: 500
  h4
    background:     lighten($bodyColor, 80)
    text-align:     center
    font-weight:    bold
    margin-bottom:  0.25em
    line-height:    1.5em
  label
    display:       block
    padding-left:  0.25em
  input, select
    display:  block
    width:    100%
    padding:  0.25em
    +box-sizing(border-box)
    background:     lighten($bodyColor, 85)
    border:         none
    margin-bottom:  0.5em
  input[type=submit]
    text-align:     right
    margin-top:     0.5em
    font-weight:    bold
    font-size:      ms(2)
    margin-bottom:  0
    &:hover, &:focus
      background:     lighten($bodyColor, 75)

header form.addNewDoc ul.jobs
  margin:   0.25em 0
  padding:  0
  li
    margin-bottom: 0.5em
  span.lang, span.lib, span.version
    margin-left:     0.4em
    font-weight:     bold
    text-transform:  uppercase
    font-size:       ms(1) - 2px
  .progress-bar
    height: 1.6em
    .status, .percentage
      padding: 0.25em
    .status
      float: left
    .percentage
      float: right


.docRegistry
  padding-left: 0.8em
  li
    h2
      font-size:    ms(2)
      font-weight:  bold
      line-height:  1.25em
  .icon-remove
    font-size:    0.6em
    line-height:  1.5em
    color:        darken(red, 20)
  li ul
    margin-top:    0
    padding-left:  2.0em
  li ul li
    h3
      font-size: ms(2)

.appView
  aside
    position:  fixed
    top:       2.5em
    right:     2em

iframe.doc-view
  width:   100%
  height:  100%
