%div.appView
  %aside
    %ul.actions
      %li
        %a{'ng-click': 'showDeletes = showDeletes == false',
          'ng-init': 'showDeletes = false'}
          %i.icon-trash
          %span{'ng-hide': 'showDeletes'} Delete Docs
          %span{'ng-show': 'showDeletes'} Finished Deleting
  %ul.docRegistry
    %li{'ng-repeat': 'lang in docRegistry.langs'}
      %h2
        = lang.name
        %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name)'}
          %i.icon-remove
      %ul
        %li{'ng-repeat': 'lib in lang.libs'}
          %h3
            = lib.name
            %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name, lib.name)'}
              %i.icon-remove
            %span{'ng-repeat': 'version in lib.versions | sortVersions'}
              \/ <a href="#/read/{{ version.root }}">{{ version.name }}</a>
              %a{'ng-show': 'showDeletes', 'ng-click':'deleteDocs(lang.name, lib.name, version.name)'}
                %i.icon-remove

