!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
-# <!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
-# <!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

%head
  %meta{'charset': 'utf-8'}
  %meta{'http-equiv': 'X-UA-Compatible', 'content': 'IE=edge,chrome=1'}
  %title DocServer
  %meta{'name': 'description', 'content': 'Personal Offline Documentation Server'}
  %meta{'name': 'viewport', 'content': 'width=device-width'}
  %link{'rel': 'stylesheet', 'href': 'assets/css/style.css'}
  %script{'src': 'assets/js/components/angular.min.js'}
  %script{'src': 'assets/js/components/jquery-2.0.0.min.js'}
  %script{'src': 'assets/js/app.js'}

<body ng-app="docserver">
-# <!--[if lt IE 7]>
-# <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
-# <![endif]-->

%header{'ng-controller': 'docServerBar'}
  %h1 DocServer
  %nav.location
    %span.home{'ng-show': 'location.path() == "/"'}
      Home
    %span.read{'ng-show': 'location.path().slice(0, 6) == "/read/"'}
      .lang= current.lang
        %ul.langDropdown.dropdown
          %li{'ng-repeat': 'lang in getAltLangs(current.lang)'}
            = lang.name
            %ul
              %li{'ng-repeat': 'lib in lang.libs'}
                = lib.name
                %span{'ng-repeat': 'version in lib.versions | sortVersions'}
                  \/ <a ng-click="changeReadURL('/read/' + version.root)">{{ version.name }}</a>
      \ / 
      .lib= current.lib
        %ul.libDropdown.dropdown
          %li{'ng-repeat': 'lib in getAltLibs(current.lang, current.lib)'}
            = lib.name
            %span{'ng-repeat': 'version in lib.versions | sortVersions'}
              \/ <a ng-click="changeReadURL('/read/' + version.root)">{{ version.name }}</a>
      \ / 
      .version= current.version
        %ul.versionDropdown.dropdown
          %li{'ng-repeat': 'version in getAltVersions(current.lang, current.lib, current.version)'}
            %a{'ng-click': 'changeReadURL("/read/" + version.root)'}
              = version.name
  %nav.app
    %a.home{'href': '#/', 'ng-class': '{active: location.path() == "/"}'}
      %i.icon-home
    %a.addDoc{'ng-click': 'toggleAddingDoc()', 'ng-class': '{active: newDoc}'}
      %i.icon-download-alt{'ng-hide': 'fetchState.working'}
      %i.icon-refresh{'ng-show': 'fetchState.working'}
  %form.addNewDoc{'ng-submit': 'startDownloading()', 'ng-show': 'newDoc'}
    %ul.jobs{'ng-show': 'fetchState.stack'}
      %li{'ng-repeat': 'job in fetchState.stack'}
        %span.lang= job.lang
        %span.lib= job.lib
        %span.version= job.version
        .progress-bar{'limit': 'job.progressEnd', 'progress': 'job.progress'}
          .overlay
            .status
              {{ job.status }}
            .percentage
              {{ percentage | number:0 }}%
    %h4 Add New Documentation
    %label Language
    %input{'type': 'text', 'ng-model': 'newDoc.lang',
           'placeholder': 'Ruby or Javascript or Python, etc'}
    %label Library
    %input{'type': 'text', 'ng-model': 'newDoc.lib',
           'placeholder': 'Django or Rails or StdAPI, etc'}
    %label Version
    %input{'type': 'text', 'ng-model': 'newDoc.version',
           'placeholder': '1.5 or 1.2.1 or 0.2.0, etc'}
    %label Source of Documentation
    %input{'type': 'text', 'ng-model': 'newDoc.src',
           'placeholder': 'URL or File Path to get the documentation from.'}
    Will source as {{ assumption(newDoc.src) }}
    %input{'type': 'submit', 'value': 'Start Downloading'}


%section.ng-view


</body>
</html>
